<!doctype html>
<html lang="fr" >
<head>
    <meta charset="utf-8">
    <title><%= config.title %></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/uikit.min.css">
    <script src="/js/uikit.min.js"></script>
    <script src="/js/uikit-icons.min.js"></script>
    <style>
        h1 { color: #d54d7b; font-family: "Great Vibes", cursive; font-size: 165px; line-height: 160px; font-weight: normal; margin-bottom: 0px; margin-top: 40px; text-align: center; text-shadow: 0 1px 1px #fff; }
        .pointer { cursor: pointer }
    </style>
</head>

<body>
    <div class="uk-container uk-container-center uk-margin-top uk-margin-large-bottom">
        <h1 class="uk-article-title uk-text-center"><%= config.title %></h1>
        <hr class="uk-divider-icon">
        <div class="uk-flex" data-uk-grid-margin="">
            <div class="uk-margin-medium-right uk-width-medium-1-4 uk-row-first uk-box-shadow-medium">
                <h2 class="uk-article-title uk-text-center">Listes des buzz</h2>
                <hr class="uk-text-center uk-divider-small">
                <button class="uk-width-1-1 uk-button uk-button-danger">Clear Buzzes</button>
                <ul class="uk-list uk-list-striped">
                    <li>Ju'</li>
                    <li>ber'</li>
                    <li>Myr</li>
                    <li>Vinc'</li>
                    <li>Vinc'</li>
                    <li>Vinc'</li>
                </ul>
            </div>
            <div class="uk-width-medium-2-4 uk-row-first uk-box-shadow-medium">
                <h2 class="uk-article-title uk-text-center">Listes des Équipes</h2>
                <hr class="uk-text-center uk-divider-small">
                <div class="team_list">
                    <div class="uk-card uk-card-small uk-card-default uk-box-shadow-large">
                        <h3 class="uk-card-title uk-text-center@s">TeamName1</h3>
                        <ul class="uk-list uk-list-striped">
                            <li>Ju'</li>
                            <li>Vinc'</li>
                        </ul>
                    </div>
                    <div class="uk-card uk-card-small uk-card-default uk-box-shadow-large">
                        <h3 class="uk-card-title uk-text-center@s">TeamName2</h3>
                        <ul class="uk-list uk-list-striped">
                            <li>Ber'</li>
                            <li>Myr'</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="uk-margin-medium-left uk-width-medium-1-4 uk-box-shadow-medium">
                <h2 class="uk-article-title uk-text-center">Scores</h2>
                <hr class="uk-text-center uk-divider-small">
                <div class="uk-panel uk-panel-box uk-box-shadow-medium">
                    <table class="uk-table uk-table-divider">
                        <thead>
                        <tr>
                            <th>Team</th>
                            <th>Score</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>TeamName1</td>
                            <td>12</td>
                            <td><span class="pointer" uk-icon="minus"></span>&nbsp;&nbsp;&nbsp;&nbsp;<span class="pointer" uk-icon="plus"></span></td>
                        </tr>
                        <tr>
                            <td>TeamName2</td>
                            <td>10</td>
                            <td><span class="pointer" uk-icon="minus"></span>&nbsp;&nbsp;&nbsp;&nbsp;<span class="pointer" uk-icon="plus"></span></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
